<body class="bg-gray-100 text-gray-800">
    <main class="flex">
        <%- include('../../partials/profileSidebar.ejs') %>

            <section class="flex-1  p-6 bg-white rounded-lg shadow-md">
                <h1 class="text-2xl font-bold mb-6">My Account</h1>
                <hr class="mb-6">

                <form class="mb-6">
                    <h2 class="text-xl font-semibold mb-4">Account Details</h2>
                    <label class="block font-bold">First Name *</label>
                    <p>
                        <%= user.firstname %>
                    </p>

                    <label class="block font-bold mt-4">Last Name *</label>
                    <p>
                        <%= user.lastname %>
                    </p>

                    <label class="block font-bold mt-4">Email *</label>
                    <p>
                        <%= user.email %>
                    </p>


                    <a class="mt-12 block w-[180px] px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 "
                        href="/api/v1/user/account/update">Update Account </a>
                </form>

            </section>
    </main>
</body>