<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href ="style.css">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">LOGO</div>
        <div class="middlepart">
            <div class = "Home"><b>Home</b></div> 
            <div class = "shop"><b>Shop</b></div>
            <div class = "product"><b>Product</b></div>
            <div class = "contact"><b>Contact Us</b></div>
        </div>
        <div class="lastpart">
            <img id = "search"src = "search.png">
            <img id = "prof"src = "prof.png">
            <span id = "shop">
            <img  id = "img_shop"src = "shop.png">
            </span>
            <span id = "shop_2">
                <img  id = "img_shop_2"src = "shop_2.png">
                </span>
            <span id = "cnt">1</span> 
        </div>
    </div>
    <div id = "complete"><b>Complete!</b></div>
    <div class="progress-bar">
        <div class="shop_cart"><div class = "check"><img class ="checkmark"src = "check.png"></div> <b>Shopping cart</b></div>
        <div class="checkout"><div class ="check"><img class ="checkmark"src = "check.png"></div><b> Checkout details</b></div>
        <div class="ordercomp"><div class = "tree">3</div><b>Order complete</b></div>
    </div>
    <div class="order-box">
        <h3>Thank you! 🎉</h3>
        <h4>Your order has been received</h4>

        <div class="order-items">
            <div class="item">
                <img src="black_table.png" alt="Black Table">
                <span class="count">2</span>
            </div>
            <div class="item">
                <img src="red_table.png" alt="Red Table">
                <span class="count">2</span>
            </div>
            <div class="item">
                <img src="lamp.png" alt="Lamp">
                <span class="count">1</span>
            </div>
        </div>

        <div class="order-details">
            <p>Order code:<strong id = "info">#0123_45678</strong> </p>
            <p>Date:<strong id = "info">October 19, 2023</strong> </p>
            <p>Total:<strong id = "info">$1,345.00</strong> </p>
            <p>Payment method:<strong id = "info">Credit Card</strong> </p>
        </div>

        <button class="purchase-btn">Purchase history</button>
    </div>
  
    
</body>
</html>